<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-toggle>
            <ion-button><ion-icon size="large" name="menu"></ion-icon></ion-button>
          </ion-menu-toggle>
      </ion-buttons>
    <ion-title text-center>Patient Details</ion-title>
    <ion-buttons slot = "end">
        <ion-button size = "small" (click)="editProfile()">Edit
          <ion-icon name="create" ></ion-icon>
        </ion-button>
        <ion-button size = "small" (click)="deleteProfile()">Delete
          <ion-icon name="trash" ></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
 <ion-grid>
<ion-row>
  <ion-col size ="3"> 
      <ion-icon name="contact" size="large" class="photo" ></ion-icon>
  </ion-col>
  <ion-col>
      <ion-input placeholder="Name" type="text" [(ngModel)]="name" readonly></ion-input>
      <ion-input placeholder="FileNo" type="text" [(ngModel)]="fileNo" [disabled]="isDisabled"></ion-input>
  </ion-col>
</ion-row>


 </ion-grid>
 
 
  <ion-list>

      <ion-item>
          <ion-label position="floating">Age</ion-label>
          <ion-input type="number" [(ngModel)]="age" [disabled]="isDisabled"></ion-input>
       </ion-item>

       <ion-item>
          <ion-label position="floating">Sex</ion-label>
          <ion-select [(ngModel)]="sex" [disabled]="isDisabled">
          <ion-select-option value="Male">Male</ion-select-option>
          <ion-select-option value="Female">Female</ion-select-option>
          </ion-select>
       </ion-item>

       <ion-item>
          <ion-label position="floating">Cancer Type</ion-label>
          <ion-select [(ngModel)]="cancer" [disabled]="isDisabled">
          <ion-select-option [value]="cancer.cancer" *ngFor="let cancer of arrayCancerTypes">{{cancer.cancer}}</ion-select-option>
          </ion-select>
       </ion-item>

       <ion-item>
          <ion-label position="floating">Income Level</ion-label>
          <ion-select [(ngModel)]="incomelevel" [disabled]="isDisabled">
          <ion-select-option value="Below Poverty Level">Below Poverty Level</ion-select-option>
          <ion-select-option value="Above Poverty Level">Above Poverty Level</ion-select-option>
          </ion-select>
       </ion-item>

       <ion-item>
          <ion-label position="floating">Place of Stay</ion-label>
          <ion-select [(ngModel)]="stay" [disabled]="isDisabled">
          <ion-select-option value="Urban">Urban</ion-select-option>
          <ion-select-option value="Rural">Rural</ion-select-option>
          </ion-select>
       </ion-item>
       <ion-item>
          <ion-label position="floating">State</ion-label>
          <ion-input type="text" [(ngModel)]="state" [disabled]="isDisabled"></ion-input>
       </ion-item>
       <ion-item>
          <ion-label position="floating">Hospital Type</ion-label>
          <ion-select [(ngModel)]="hospitaltype" [disabled]="isDisabled">
          <ion-select-option value="Private : Charged">Private : Charged</ion-select-option>
          <ion-select-option value="Private : Non-Charged">Private : Non-Charged</ion-select-option>
          <ion-select-option value="Government : Charged">Government : Charged</ion-select-option>
          <ion-select-option value="Government : Non-Charged">Government : Non-Charged</ion-select-option>
          </ion-select>
       </ion-item>
       <ion-item>
          <ion-label position="floating">Associated Hospital</ion-label>
          <ion-select [(ngModel)]="hospital" [disabled]="isDisabled">
               <ion-select-option [value]="hospital.hospital" *ngFor="let hospital of arrayHospitalTypes">{{hospital.hospital}}</ion-select-option>
          </ion-select>
       </ion-item>
       <ion-item>
          <ion-label position="floating">Ward Category</ion-label>
          <ion-select [(ngModel)]="ward" [disabled]="isDisabled">
          <ion-select-option value="Private">Private</ion-select-option>
          <ion-select-option value="General">General</ion-select-option>
          </ion-select>
       </ion-item>
       <ion-item>
         <ion-label position="floating">Comments</ion-label>
         <ion-input type="text" [(ngModel)]="comments" [disabled]="isDisabled"></ion-input>
      </ion-item>
  </ion-list>
<ion-button fill="solid" expand="block" color="dark" [disabled]="isDisabled" (click)="updatePatient()">Save Details</ion-button>


 