.content {
    background-image: url('../../../../resources/vcarebackground.jpg'); 
}
.label {
    min-width:40% !important;
    max-width: 50% !important;
}
.input {
    min-width:60% !important;
    max-width: 50% !important;
}

.icon {
    width: 100px;
    height: 100px;
    right: 50%;
    transform: translateX(-50%);
}