<ion-header>
  <ion-toolbar>
    <ion-title text-center>Reset Password</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="icon">
      <ion-icon name="mail" size="large"></ion-icon>
  </div>
  <ion-input type="email" placeholder="Enter your registered email" inputmode="email" pattern="email" size="large" [(ngModel)]="email" required></ion-input>
  <ion-button class="button" color="dark" size="block" (click)="resetEmail()">Send Reset Email</ion-button>
</ion-content>