<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-toggle>
              <ion-button>
                  <ion-icon size="large" name="menu"></ion-icon>
              </ion-button>
          </ion-menu-toggle>
      </ion-buttons>
      <ion-title text-center>My Profile</ion-title>
      <ion-buttons slot = "end">
        <ion-button size = "small" (click)="editProfile()">Edit
          <ion-icon name="create" ></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-grid>
        <ion-row>
          <ion-col size ="3"> 
              <ion-icon name="contact" size="large" class="photo" ></ion-icon>
          </ion-col>
          <ion-col>
              <ion-item>
                  <ion-label position="floating">User Name</ion-label>
                  <ion-input type="text" [(ngModel)]="name" readonly></ion-input>
              </ion-item>
              <ion-item>
                  <ion-label position="floating">Gender</ion-label>
                  <ion-input type="text" [(ngModel)]="gender" readonly></ion-input>
              </ion-item>
              <ion-item>
                  <ion-label position="floating">User Access</ion-label>
                  <ion-input type="text" [(ngModel)]="usertype" readonly></ion-input>
              </ion-item>
          </ion-col>
        </ion-row>
    </ion-grid>
    <ion-list>
        <ion-item>
            <ion-label position="floating">Date of Birth</ion-label>
            <ion-input type="text" [(ngModel)]="dob" readonly></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="text" [(ngModel)]="email" readonly></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Hospital</ion-label>
            <ion-select [(ngModel)]="hospital" [disabled]="isDisabled">
                    <ion-select-option [value]="hospital.hospital" *ngFor="let hospital of arrayHospitalTypes">{{hospital.hospital}}</ion-select-option>
                    <ion-select-option value="Other">Other</ion-select-option>
			</ion-select>
        </ion-item>
        <ion-item *ngIf="hospital=='Other'">
			<ion-label position="floating">Other Hospital Type<span>&nbsp;*</span></ion-label>
			<ion-input type="string" [(ngModel)]="otherhospital" [disabled]="isDisabled"></ion-input>
		 </ion-item>
        <ion-item>
            <ion-label position="floating">Contact Number</ion-label>
            <ion-input type="text" [(ngModel)]="phone" [disabled]="isDisabled"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Address</ion-label>
            <ion-input type="text" [(ngModel)]="address" [disabled]="isDisabled"></ion-input>
        </ion-item>
    </ion-list>
    <ion-button fill="solid" expand="block" color="dark" [disabled]="isDisabled" (click)="updateDetails()">Save Details</ion-button>
</ion-content>