<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="statistics">
      <ion-icon name="stats"></ion-icon>
      <ion-label>Statistics</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="register">
      <ion-icon name="person-add"></ion-icon>
      <ion-label size="medium">Staff/Volunteer Register</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="reporting">
      <ion-icon name="document"></ion-icon>
      <ion-label>Report Generation</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>